.score-container {
  height: 100vh;
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previousAnswer {
  text-align: center;
  margin: 50px;
}

.scoreTitle {
  border-bottom: 3px solid #000;
  width: fit-content;
  text-align: center;
  font-weight: 800;
  margin: 50px 0;
}

.scoreList {
  font-size: 20px;
  text-align: center;
  background: white;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 40px;
  }
}

.rightAnswer {
  color: green;
}
.wrongAnswer {
  color: red;
}
