.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalScoreTitle {
  text-align: center;
  font-weight: 800;
  border-bottom: 3px solid #000;
}

.finalScore {
  text-align: center;
}

.finalScoreButton {
  width: 300px;
  text-align: center;
  margin: 0 20px;
}

.finalScoreButtonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.congratulationsTitle {
  margin-top: 1rem;
  text-align: center;
}
